:host {
  display: block;
  overflow-x: auto;
}
table {
  width: 100%;
}
.cabecalho {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 1rem;
}
.mat-column-acoes {
  width: 120px;
  white-space: nowrap;
}
